.privacybanner-section {
    height: 10%;
    width: 100%;
}

.privacybannerimg {
    width: 100%;
}

p,
ul {
    color: #818087 !important;
    background-color: red !important;
}

b {
    color: #504f51 !important;
}